<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Portal</title>
    <link rel="stylesheet" href="/css/hostHomepage.css">
</head>

<body>
    <!-- Home Icon -->
    <a href="/host/logout" class="logout-icon">
        <img src="/images/svg/logout.svg" alt="Log out">
    </a>
    <header>
        Attendance Portal
    </header>


    <!-- Home page section -->
    <section id="homePage" class="">
        <div class="container">
            <!-- Attendance Card -->
            <div class="card">
                <h2>Attendance</h2>
                <a href="/host/start-attendance" class="button">Take Attendance</a>
                <a href="/host/enrolled-students" class="button">View Enrolled Students</a>
                <a href="/host/reports/history" class="button">View Attendance History</a>
            </div>


            <!-- Registration Card -->
            <div class="card">
                <h2>Registration</h2>
                <a href="/host/start-registration" class="button">Start Registration</a>
                <a href="/host/edit/students" class="button">Edit Registered Students</a>
            </div>
        </div>
    </section>
</body>

</html>