<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Registration</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/hostSection.css">
</head>

<body>
    <header>
        Start Registration
    </header>
    <div id="notification-container"></div>
    <div class="toggle-theme"><label for="theme" class="theme">
            <span class="theme__toggle-wrap">
                <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
                <span class="theme__fill"></span>
                <span class="theme__icon">
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                    <span class="theme__icon-part"></span>
                </span>
            </span>
        </label></div>

    <!-- Hidden Modal Section -->
    <div id="popupModal" class="modal-overlay" style="display: none;">
        <div class="modal-content">
            <h2>Registration Process Ended</h2>
            <p>You can view the report by clicking the button below.</p>
            <div id="viewReportButton"> <a href="/host/reports/registration?recent=true">View Report</a></div>
        </div>
    </div>
    <% if (otherProcessRunning) { %>
        <div class="container">
            <h1>Another process is already in progress. Please complete or stop the current process before starting
                a new one.</h1>
        </div>
        <% } else { %>
            <!-- timer  -->
            <div class="container">Time remaining : <span id="timer" style="color: red;">
                    <%= interval %>
                </span></div>
            <section id="attendanceSection" class="container">
                <!-- Notification -->
                <div id="attendanceNotification"></div>
                <h1>Share Registration Link</h1>

                <!-- Attendance Link Section -->
                <div class="attendance-link-container">
                    <div id="copyLink" data-link="<%= link%>">
                        <%= link%>
                    </div>
                    <button id="copyLinkBtn" class="button">Copy Link</button>
                </div>

                <!-- QR Code Section -->
                <div id="qrcode-container">
                    <div id="qrcode"></div>
                </div>
                <a href="/host/stop-registration">
                    <div class="button stop-button">Stop Registration</div>
                </a>
            </section>
            <% } %>
                <script src="/js/helper.js"></script>
                <!-- websocket io -->
                <script src="/js/socket.js"></script>
                <!-- Script for QR Code Generation and Clipboard Functionality -->
                <script src="/js/qrcode.min.js"></script>
                <script src="/js/utils.js"></script>
                <script src="/js/hostSection.js"></script>
                <script>showNotification('<%= showNotification%>');</script>
</body>

</html>