<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    
    <% if (registerStarted) { %>
        <header class="container">Time remaining : <span id="timer"><%= timer%></span></header>
        <div class="container">
            <h1>Enter Your Details</h1>
            <form id="registerForm">
                <input type="text" id="studentName" name="name" placeholder="Full Name" required>
                <input type="text" id="usn" name="usn" placeholder="USN" required>
                <button id="submitBtn" type="submit">Register</button>
                <p id="message" class="hidden"></p>
            </form>
        </div>
      <% } else { %>
        <div class="container">
            <h1>The registration process has not been initiated by the host.</h1>
        </div>
      <% } %>

    <script src="/js/register.js"></script>
</body>

</html>