body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.home-icon{
    position:absolute;
    z-index: 999;
    cursor: pointer;
}
.container {
    padding: 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    color: #f4f4f4;
    background-color: #6200ea;
    font-size: 1rem;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Container for card and search bar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
}

/* Search bar container */
.search-bar-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    flex: 1; /* Allow the search bar to grow */
    max-width: 500px;
}

/* Search input */
#searchBar {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 1rem; /* Add space for the icon */
    font-size: 1rem;
    border: 2px solid #6200ea;
    border-radius: 100px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus effect */
#searchBar:focus {
    border-color: #3700b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* SVG Search Icon */
.search-icon {
    position: absolute;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #6200ea;
    pointer-events: none; /* Make sure the icon doesn't block input interaction */
}

@media (max-width: 600px) {
    table, th, td {
        font-size: 0.9rem;
    }
    button {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
}