body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #6200ea;
    margin-bottom: 1.5rem;
}

.attendance-link-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60%;
    text-align: center;
}

a{
    text-decoration: none;
}

.button {
    padding: 0.75rem 1.5rem;
    background-color: #6200ea;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #4500b0;
}

.share-container {
    margin-bottom: 2rem;
}

#qrcode-container {
    display: flex;
    justify-content: center;
}

#qrcode {
    border: 2px solid #6200ea;
    padding: 0.5rem;
    border-radius: 8px;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}

.stop-button{
    width: fit-content;
    margin: 1rem auto;
}
 /* Notification Styles */
 #attendanceNotification {
    visibility: hidden;
    margin: 0 auto;
    background-color: #ea5757;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
}

@media (max-width: 600px) {
    .container{
        width: 90%;
    }
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Content */
.modal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    text-align: center;
    max-width: 400px;
    width: 90%;
    animation: fadeIn 0.3s ease-in-out;
}

/* Header and Paragraph */
.modal-content h2 {
    color: #6200ea;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal-content p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #333;
}

/* Button Styling */
#viewReportButton {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#viewReportButton:hover {
    background-color: #3700b3;
}

/* Fade-In Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
